.work-experience {
  color: var(--just-white);
  background-color: var(--black-background);
}
.inactive {
  display: none;
}
.work-experience h2 {
  text-align: center;
  margin: 0 auto;
  font-size: 4rem;
  font-weight: 700;
  max-width: 840px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.experience-container {
  padding: 0;
  margin: 0;
  user-select: none;
  width: 100%;
  height: 700px;
  /* background-color: red; */
  position: relative;
}

.experience-container input {
  position: absolute;
  left: -9999px;
}

.work-experience .arrow {
  position: absolute;
  width: 32px;
  height: 32px;
  bottom: 2.5%;
  z-index: 3;
}

.work-experience .arrow img {
  height: 32px;
  width: 32px;
  z-index: 2;
}

.work-experience .arrow.right {
  left: calc(50% + 32px);
}

.work-experience .arrow.left {
  left: calc(50% - 64px);
}
.work-experience .arrow label {
  position: absolute;
  opacity: 1;
  pointer-events: none;
}

.experience-container .content {
  width: 100%;
  height: 100%;
  display: flex;
  background-color:#0e0d0d;
  position: relative;
  z-index: 1;
  border-radius: 25px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.experience-container .timeline {
  /* position: absolute;
  left: 10%;
  width: 80%;
  height: 30px;
  bottom: 0%; */
  /* max-width: 500px; */
  /* background-color: gainsboro; */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.experience-container .content .experience-logos {
  /* background-color: darkorange; */
  margin: 10px;
  height: 20%;
  position: relative;
  display: flex;
  align-items: center;
}

#sineti-logo {
  height: 70px;
  width: 150px;
}

#EDT-logo {
  height: 55px;
  width: 105px;
}

#springair-logo {
  height: 90px;
  width: 90px;
}

#FEMSA-logo {
  height: 55px;
  width: 200px;
}
#im-logo {
  height: 120px;
  width: 120px;
  border-radius: 50%;
}

.experience-logos .images-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* background-color: red; */
}

.experience-container .content .experience-description {
  display: flex;
  flex-direction: column;
  /* background-color: blue; */
  margin: 10px;
  height: 65%;
  position: relative;
}

.experience-container .timeline-dot {
  z-index: 1;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background: var(--warm-blue);
  transition: var(--transition-time) ease all;
}

.experience-container .timeline-line {
  position: absolute;
  top: calc(50% - 1px);
  margin-top: -1px;
  width: 50%;
  height: 2px;
  background: var(--grey);
}

.experience-container .film-info {
  font-size: 1.3rem;
  width: calc(100% - 25px);
  transform: translate(5px);
  opacity: 1;
  transition: var(--transition-time) ease all;
  /* background-color: aqua; */
}

.experience-container .film-info .title {
  text-align: left;
  font-size: 2.5rem;
  font-weight: 700;
  margin: 2rem;
  color: var(--just-white);
}

.experience-container .film-info .description {
  margin: 2rem;
  font-size: 1.5rem;
  line-height: 1.5;
  color: var(--just-white);
  /* background-color: blue; */
}

.experience-container .film-info ul {
  /* list-style-image: url("https://icon-library.com/icon/bullets-icon-5.html"); */
  list-style-type: "🔸";
}

.experience-container .timeline-line:before {
  content: "";
  position: absolute;
  left: 0;
  width: 0%;
  height: 100%;
  transition: var(--transition-time) ease all;
}

.experience-container #input-1:checked ~ .content .timeline-line::before {
  width: 0%;
  background: var(--warm-blue);
}

.experience-container #input-2:checked ~ .content .timeline-line:before {
  width: 50%;
  background: var(--warm-blue);
}

.experience-container #input-3:checked ~ .content .timeline-line:before {
  width: 100%;
  background: var(--warm-blue);
}

@media (min-width: 450px) and (max-width: 650px) {
  .experience-container .film-info .description {
    font-size: 1.9rem;
  }
}

@media (min-width: 651px) and (max-width: 900px) {
  .experience-container .film-info .description {
    font-size: 2.1rem;
  }
}

@media (min-width: 901px) {
  .experience-container .content {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: blue; */
    z-index: 1;
    margin: 0 auto;
  }

  .experience-container .content .experience-description {
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    margin: 10px;
    width: 65%;
    position: relative;
  }

  .experience-container .content .experience-logos {
    /* background-color: darkorange; */
    order: 2;
    width: 20%;
    height: 400px;
    position: relative;
  }

  .experience-container .content .timeline {
    order: 3;
    width: 500px;
  }

  .experience-container .film-info .description {
    font-size: 2.1rem;
  }

  .experience-container .film-info ul {
    list-style-type: square;
  }

  .experience-logos .images-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .experience-container .film-info .title {
    font-size: 3.5rem;
  }
  #sineti-logo {
    height: 80px;
    width: 190px;
  }

  #EDT-logo {
    height: 80px;
    width: 160px;
  }

  #springair-logo {
    height: 150px;
    width: 150px;
  }

  #FEMSA-logo {
    height: 80px;
    width: 270px;
  }
  #im-logo {
    height: 170px;
    width: 170px;
    border-radius: 50%;
  }
}
