.skills {
  color: var(--just-white);
  background-color: var(--black-background);
}

.skills h2 {
  text-align: center;
  margin: 0 auto;
  font-size: 4rem;
  font-weight: 700;
  max-width: 840px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.skills .skills-list {
  width: 80%;
  margin: 0 auto;
  display: block;
  justify-content: center;
  position: relative;
}
.skills-list .list-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

.skills-list .title-list {
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 15px;
  font-size: 1.8rem;
  background-color: var(--grey);
  width: 220px;
  margin-bottom: 10px;
}

.skills-list .list-elements-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skills-list .title-list p {
  position: relative;
  top: 6px;
}

.skills-list .list-elements {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 1.5rem;
  align-items: center;
  line-height: 15px;
  list-style-type: none;
}

.skills-list .list-elements li {
  background-color: brown;
  border-radius: 25px;
  padding: 2px;
  margin: 5px;
  width: 120px;
  text-align: center;
}
