:root {
  --black-background: black;
  --warm-black: #031926;
  --just-white: rgba(245, 245, 245, 0.829);
  --gradient-black: rgba(21, 21, 25, 0.18);
  --purple: #3c3163;
  --yellow: #fff38a;
  --transition-time: 0.5s;
  --bg-filter-opacity: 0.5;
  --warm-blue: #04879c;
  --grey: #827b68;
  --img-width: 200px;
	--img-height: 174px;
	--img-padding: 20px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "DM Sans", sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  background: var(--black-background);
  color: var(--just-white);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  min-height: 100vh;
}

/* Lighting circle */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  margin: 0;
  padding: 0;
}

.fixed-circle {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  top: 0;
}

.fixed-circle::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 50%;
  height: 1px;
  transform: translateX(-50%);
  background-color: #242424;
}

.fixed-circle::before {
  content: "";
  position: absolute;
  bottom: -14px;
  left: 50%;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transform: translateX(-50%);
  background-color: var(--warm-blue);
  border: 5px solid #242424;
  outline: 10px solid #151519;
  z-index: 9;
  animation: toggleFade 2s infinite;
}

@keyframes toggleFade {
  0%,
  100% {
    background-color: var(--warm-blue);
  }
  50% {
    background-color: #242424;
  }
}

/* Start animation */
.header-animation {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #000;
  overflow: hidden;
  margin: 0;
  padding: 0;
  top: 0;
}

#animation-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
}

#intro-animation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  margin: 0;
  padding: 0;
}

/*Content*/
.main-title {
  position: relative;
  width: 100%;
  max-width: 800px;
  text-align: center;
  color: #fff;
  z-index: 3;
  padding: 2rem;
}

.main-title h1 {
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
  margin: 10px;
  color: #fff;
}

.main-title p {
  margin-top: 20px;
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
  line-height: 2.5rem;
  color: #fff;
}

.main-title .logo-r {
  text-align: center;
  margin-bottom: 2rem;
}

.main-title .logo-ml {
  text-align: center;
  padding-top: 3rem;
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

img {
  height: 100px;
  width: 100px;
}

@media (max-width: 640px) {
  img {
    width: 70px;
    height: 70px;
  }
  .main-title h1 {
    font-size: 4rem;
  }
  .main-title p {
    font-size: 2rem;
  }
}

@media (min-width: 641px) {
  .main-title p {
    line-height: 4rem;
  }
}
